<div class="text-center mb-4">
  <h1 class="text-title">Products</h1>
  <%= link_to "✚ New product", new_product_path, class: "btn btn--primary" if user_signed_in? %>
</div>

<div class="products-grid">
  <% @products.each do |product| %>
    <div class="card">
    <% if product.featured_image.attached? %>
  <%= image_tag product.featured_image, class: "card-image", alt: product.name %>
<% else %>
  <div class="card-image image-placeholder">
    📦 No image
  </div>
<% end %>

      <div class="card-body">
        <h3 class="card-title"><%= product.name %></h3>
          <h3 class="card-title">$ <%= product.price %></h3>

        <div class="flex gap-2 mt-3">
          <%= link_to "View details", product_path(product), class: "btn btn--primary btn--block" %>
        </div>
      </div>
    </div>
  <% end %>
</div>



<%= debug @products %>
<%= @products %>

